/* Top Part*/

.all__article {
    color: #000;
    display: flex;
    flex-direction: column;
}

.article__title {
    font-size: 45px;
    text-align: center;
}

.title__img {
    width: 1060px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}


/* Center Part*/

.center__part {
    margin-top: -8px;
    padding: 15px 20px 10px;
    background-color: #ffffffd8;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.article__text {
    width: 100%;
    max-width: 920px;
}

.author_and_date {
    width: 100%;
    max-width: 200px;
    margin-right: 20px;
}

.author {
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 5px;
}

.author__job {
    font-size: 13px;
    margin-bottom: 15px;
}

.publish__date {
    font-size: 11px;
    color: #000000b6;
}

.article__text_title {
    margin: 20px 0px;
    font-weight: 700;
    font-size: 16px;
}


/* Bottom Part*/

.bottom__part {
    padding: 20px;
    background-color: #ffffffd8;
}

.write__comments {
    display: flex;
    flex-direction: column;
}

.upper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.user__img {
    width: 4.1%;
    height: 4.1%;
    margin-right: 8px;
}

#textarea__comment {
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    border: 0;
    border-bottom: 1px #a0a0a0 solid;
    background-color: #00000000;
    width: 990px;
    height: 50px;
    resize: none;
}

#textarea__comment:focus {
    border: 0;
    outline: 0;
    border-bottom: 2px #747474 solid;
}

.under {
    display: flex;
    justify-content: flex-end;
}

.comment__button {
    font-family: 'Raleway', sans-serif;
    margin: 10px;
    padding: 5px 30px;
    border-radius: 3px solid;
}

.left__comments{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.written__comments {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 30px 0;
}

.written__comments:last-child {
    margin-bottom: 5px;
    justify-self: end;
}

.written__comments:first-child{
    margin-top: 0px;
}

.authorof__comment {
    font-weight: 700;
    font-size: 14px;
}

.comment__text {
    font-size: 13px;
    margin-top: 3px;
}

.you_r_rate{
    font-size: 12px;
}

.rate a{
    color: #000;
}

.rate a:hover{
    color: #1f5675;
}