/* Article */

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section:last-child {
    margin-bottom: 20px;
}

.article {
    display: flex;
    border-radius: 10px;
    border: 1px solid #303030;
    background-color: #f5f5dc80;
    margin-top: 20px;
    height: 100%;
    max-height: 300px;
    width: 70%;
    display: flex;
    flex-direction: row;
    font-weight: 700;
}

.article__img {
    width: 30%;
    height: 30%;
    border-radius: 7px;
    margin: 10px;
}

.article__block {
    margin-top: 10px;
    margin-right: 10px;
}

.article__tittle {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 7px;
}

.article__maintext {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 3px;
}

.link__arcticle {
    color: #000;
    font-weight: 700;
    text-decoration: none;
}

.link__arcticle:hover {
    text-decoration: underline;
}