.center{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.profile{
    display: flex;
    flex-direction: row;
    border: 1px solid #303030;
    border-radius: 10px;
    background-color: #f5f5dc80;
    max-width: 1000px;
    width: 100%;
    padding: 10px;
}

.left__profile{
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #303030;
    border-radius: 10px;
    background-color: #f8f8e980;
    padding: 5px;
    margin-right: 15px;
}

.title__profile{
    margin: 10px;
    padding-bottom: 10px;
    font-weight: 700;
    border-bottom: 1px solid #3030307a;
    width: 100%;
    text-align: center;
}

.user__img{
    margin: 10px;
    width: 150px;
    border-radius: 50%;
    margin-bottom: 25px;
}

.full__name{
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 10px;
}

.description{
    margin-bottom: 10px;
}

.right__profile{
    width: 66%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #303030;
    border-radius: 10px;
    background-color: #f8f8e980;
    padding: 5px;
    text-align: center;
}

.right__table{
    width: 100%;
    height: 100%;
}

.right__table td{
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
}

.right__table td:last-child{
    border-right: 0;
}

.bottom__border td{
    border-bottom: 0;
}

.title{
    font-weight: 900;
    font-size: 15px;
}

.change{
    margin-bottom: 10px;
}

.input_profile{
    font-family: 'Comfortaa', cursive;
    background-color: #00000000;
    border: 1px solid #0000008e;
    width: 100%;
    height: 80%;
    font-weight: 700;
}

.margin{
    width: 100%;
    height: 45%;
}

.top{
    margin-bottom: 1%;
}

.description{
    height: 30px;
}

.color{
    font-family: 'Comfortaa', cursive;
    background-color: #ffffff00;
}