/* Form */

.reg__form {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.divfor__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.reg__maintittle {
    font-size: 25px;
    font-weight: 700;
    color: #000;
    margin-bottom: 12px;
}


/* Main Form*/

.main__form {
    padding: 40px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    height: auto;
    background-color: #f5f5dc80;
    box-shadow: 0 0 10px 0 #414141;
    border-radius: 10px;
    border: 1px solid #000;
}

.all__inputs {
    display: flex;
    flex-direction: row;
}

.leftandright__inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
}

.leftandright__inputs:last-child {
    margin-right: 0px;
}

#input__ {
    border: 0;
    width: 200px;
    height: 35px;
    background-color: #cacaca;
    padding: 5px 10px;
    size: 5;
    margin-bottom: 10px;
}

.reg__btn {
    margin-top: 10px;
    margin-bottom: 5px;
}

.reg__a {
    color: #000;
    text-decoration: none;
    transition: background-color .2s, color .2s;
    border: 1px solid #000;
    padding: 9px 151px;
    background-color: #ffffff00;
}

.reg__a:hover {
    background-color: #000000b2;
    color: #ffffff;
}

.terms__checkbox {
    margin: 0;
}

.accept__links {
    text-decoration: none;
}

.accept__links {
    display: inline-block;
}

.accept__links::after {
    content: '';
    width: 0px;
    height: 1px;
    display: block;
    background: #6c1b9b;
    transition: 200ms;
    margin-top: -3px;
}

.accept__links:hover::after {
    width: 100%;
}