/* ALL SITE */

body {
    display: flex;
    flex-direction: column;
    background: url("/images/bg.png") center no-repeat;
    background-attachment: fixed;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    margin: 0;
    line-height: 1.6;
    font-family: 'Comfortaa', cursive;
    font-size: 15px;
    color: #404040;
    justify-content: space-between;
    min-height: 100vh;
}

a {
    text-decoration: none;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}


/* CONTAINER */

.container {
    width: 100%;
    max-width: 1350px;
    margin: 0 auto;
}

.small__container {
    width: 100%;
    max-width: 1060px;
    margin: 0 auto;
}


/* HEADER */

.header {
    font-size: 18px;
    width: 100%;
    line-height: 14px;
    background-color: #fcfcdf94;
    box-shadow: 0 0 10px 0 #414141;
}

.header a {
    color: black;
    transition: color .2s linear;
}

.header nav a:hover {
    color: gray;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    transition: filter .2s;
}

.header__logo:hover {
    filter: invert(0.5);
}


/* LOGO */

.logo__img {
    max-height: 100px;
}


/* NAV */

.nav {
    font-weight: 600;
}

.nav__link {
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    margin: 0 30px;
}


/* SIGN BTN */

.header__btn_all {
    display: flex;
    flex-direction: row;
}

.header__btn_div {
    font-size: 15px;
    text-align: center;
    padding: 6px 15px;
    border-radius: 3px;
    border: 1px solid #000;
    margin-right: 10px;
    background-color: #ffffffb2;
    color: #000;
    text-decoration: none;
    transition: background-color .2s, color .2s;
}

.header__btn_div:hover {
    color: #fff;
    background-color: #000000b7;
}

.header__btn_div:last-child {
    margin-right: 0;
}

.shadow {
    box-shadow: 3px 6px 9px #061e3756;
}

.shadow__top {
    box-shadow: -3px 6px 9px #061e3756;
}

.background__opacity{
    background-color: #00000000;
}

.no__border{
    background-color: #00000000; 
    border: 1px solid #00000031;
}

/* Footer*/

.footer {
    font-size: 13.5px;
    height: 50px;
    background-color: #fcfcdf94;
}

.footer__links {
    font-weight: 600;
    color: #404040;
    transition: color .2s linear;
}

.footer__links:hover {
    color: #777777;
}

.allfooter__text {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}